{% extends 'base.html' %}

{% block content %}

<h2>Subir documento</h2>

{% if not site_available %}
<p>El servidor de subidas no se encuentra disponible en este momento. Vuelva a intentar más tarde.</p>
{% else %}
	<form id="documento_form" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
   	
   	<fieldset id="step_tipo" class="step">
   		<h3>Paso 1 - Tipo de documento</h3>
		<div class="field_container">
			<p><label for="id_tipo">Tipo de documento:</label></p>
			<p>{{ form.tipo }}</p>
			<p/>
		</div>
		
		<div id="isbn_container" class="field_container">
			<p><label class="optional" for="id_isbn">ISBN:</label></p>
			<p>{{ form.isbn }}</p>
			<p>Con el ISBN podemos obtener las portadas y completar automáticamente los datos de los libros.<p/>
			<p/>
		</div>
	</fieldset>
	
	<fieldset id="step_datos" class="step">
   		<h3>Paso 2 - Datos del documento</h3>
		<div class="field_container">
			<p><label for="id_titulo">Título:</label></p>
			<p>{{ form.titulo }}</p>
			<p/>
		</div>
		
		<div class="field_container">
			<p><label for="id_autor">Autor:</label></p>
			<p>{{ form.autor }}</p>
			<p/>
		</div>
	</fieldset>
	
	<fieldset id="step_detalles" class="step">
   		<h3>Paso 3 - Información de materias</h3>
		<div class="field_container">
			<p><label class="optional" for="id_carrera">Carreras:</label></p>
			<p>{{ form.carrera }}</p>
			<p/>
		</div>
		
		<div class="field_container">
			<p><label class="optional" for="id_materia">Materias:</label></p>
			<p>{{ form.materia }}</p>
			<p/>
		</div>
	</fieldset>
	
	<fieldset id="step_archivo" class="step">
   		<h3>Paso 4 - Archivo</h3>
		<div class="field_container">
			<p><label for="id_doc_file">Archivo:</label></p>
			<p>{{ form.doc_file }}</p>
			<p/>
		</div>
		
		<div class="field_container">
			<p><label class="optional" for="id_detalles">Detalles:</label></p>
			<p>{{ form.detalles }}</p>
			<p/>
		</div>
		
	</fieldset>
	
	<div id="wizard_buttons" class="buttons_container"> 							
		<input class="navigation_button" id="back" value="Back" type="reset" />
		<input class="navigation_button" id="next" value="Next" type="submit" />
	</div>
	
</form>


<div id="dialog-modal" title="Subiendo">
	<p>Por favor, espere mientras subimos el archivo.</p>
	<br/>
	<img src="{{ MEDIA_URL }}img/ajax-loader.gif"/>
</div>
{% endif %}

{% endblock %}
 
{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.wizard-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>


<script type="text/javascript">
			$(function(){
				
				//Configuro el wizard
				$("#documento_form").formwizard({
					validationEnabled: true,
					
					textSubmit : 'Subir',
					textNext : 'Siguiente',
					textBack : 'Anterior',
					
					remoteAjax : {"step_tipo" : {
						url : '{% url validate_isbn %}', 
				 		dataType : 'json',
				 		success : function(data){
				 			
				 			if(!data.valid) {
				 				//Agrego error a mano si no es isbn valido
				 				$('<label for="id_isbn" generated="true" class="error">ISBN inválido.</label>').insertAfter('#id_isbn');
				 				return false;
				 			} else {
				 				//actualizo autor y titulo encontrados
				 				$('#id_titulo').val(data.titulo);
				 				$('#id_autor').val(data.autor);
				 				
				 				return true;
				 			}
				 			
				 		},
						},
					}
					
				});
				
				//Para validacion
				jQuery.validator.messages.required = 'Este campo es obligatorio.';				
				$('#id_titulo').addClass('required');
				$('#id_autor').addClass('required');
				$('#id_doc_file').addClass('required');
				
				//oculto isbn si no es libro
				$('#id_tipo').change(function(){
					
					if ($(this).val() != 'LIB') {
						$('#isbn_container').hide();
						$('#id_isbn').val('');
					} else {
						$('#isbn_container').show();
					}
				})
				
				$( "#dialog-modal" ).dialog({
					autoOpen: false,
					height: 140,
					modal: true,
					closeOnEscape : false,
					resizable : false,
					open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }
				});
				
				$('#documento_form').submit(trigger_wait_message);
  		});
		
		
		function trigger_wait_message() {
			$( "#dialog-modal" ).dialog('open');
		}
			
			
    </script>

{% endblock %}