{% extends 'base.html' %}

{% block content %}

<h2>Subir documento</h2>

{% if not site_available %}
<p>El servidor de subidas no se encuentra disponible en este momento. Vuelva a intentar más tarde.</p>
{% else %}
	<form id="documento_form" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
   	
   	<fieldset id="step_tipo" class="step">
   		<h3>Paso 1 - Tipo de documento</h3>
   		{% if form.errors %}<label class="form_error">Por favor corrija los errores.</label>{% endif %}
		<div class="field_container">
			<p><label for="id_tipo">Tipo de documento:</label></p>
			<p>{{ form.tipo }}</p>
		</div>
		
		<div id="isbn_container" class="field_container">
			<p><label class="optional" for="id_isbn">ISBN:</label></p>
			<p>{{ form.isbn }}</p>
			<p>Con el ISBN podemos obtener las portadas y completar automáticamente los datos de los libros.</p>
		</div>
	</fieldset>
	
	<fieldset id="step_datos" class="step">
   		<h3>Paso 2 - Datos del documento</h3>
		<div class="field_container">
			<p><label for="id_titulo">Título:</label></p>
			<p>{{ form.titulo }}</p>
			{% if form.titulo.errors %}{% for error in form.titulo.errors %}<label for="id_titulo" class="form_error">{{ error }}</label>{% endfor %}{% endif %}
		</div>
		
		<div class="field_container">
			<p><label class="optional" for="id_autor">Autor:</label></p>
			<p>{{ form.autor }}</p>
		</div>
	</fieldset>
	
	<fieldset id="step_detalles" class="step">
   		<h3>Paso 3 - Información de materias</h3>
		<div class="field_container">
			<p><label class="optional" for="id_carrera">Carreras:</label></p>
			<p>{{ form.carrera }}</p>
		</div>
		
		<div class="field_container">
			<p><label class="optional" for="id_materia">Materias:</label></p>
			<p>{{ form.materia }}</p>
		</div>
	</fieldset>
	
	<fieldset id="step_archivo" class="step">
   		<h3>Paso 4 - Archivo</h3>
		<div class="field_container">
			<p><label for="id_doc_file">Archivo:</label></p>
			<p>{{ form.doc_file }}</p>
			{% if form.doc_file.errors %}{% for error in form.doc_file.errors %}<label for="id_doc_file" class="form_error">{{ error }}</label>{% endfor %}{% endif %}
		</div>
		
		<div class="field_container">
			<p><label class="optional" for="id_detalles">Detalles:</label></p>
			<p>{{ form.detalles }}</p>
		</div>
		
	</fieldset>
	
	<div id="wizard_buttons" class="buttons_container"> 							
		<input class="navigation_button" id="back" value="Back" type="reset" />
		<input class="navigation_button" id="next" value="Next" type="submit" />
	</div>
	
</form>


<div id="dialog-modal" title="Subiendo">
	<p>Por favor, espere mientras subimos el archivo.</p>
	<br/>
	<img alt="Cargando" src="{{ MEDIA_URL }}img/ajax-loader.gif"/>
</div>
{% endif %}

{% endblock %}
 
{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.wizard-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/archivos.js"></script>

<script type="text/javascript">
			$(function(){
				
				//Configuro el wizard
				$("#documento_form").formwizard({
					validationEnabled: true,
					
					textSubmit : 'Subir',
					textNext : 'Siguiente',
					textBack : 'Anterior',
					
					remoteAjax : {"step_tipo" : validation_ajax(
										'{% url validate_isbn %}', 
										'#id_isbn', 
										'ISBN inválido.', 
										function(data){
											$('#id_titulo').val(data.titulo);
									 		$('#id_autor').val(data.autor);
										})
								}
					
				});
				
				//Para validacion
				jQuery.validator.messages.required = 'Este campo es obligatorio.';				
				$('#id_titulo').addClass('required');
				$('#id_doc_file').addClass('required');
				
				//autocomplete autor
				$('#id_autor').autocomplete({
					source: "{% url autocomplete_autor %}",
					minLength:2,
				});
				
				
				//oculto isbn si no es libro
				$('#id_tipo').change(function(){
					
					if ($(this).val() != 'LIB') {
						$('#isbn_container').hide();
						$('#id_isbn').val('');
					} else {
						$('#isbn_container').show();
					}
				})
				
				$('#id_tipo').trigger('change');
				
				init_dialog();
  		});
		
		/* Return validation ajax dict to use with the remoteAjax option*/
		function validation_ajax(url, field_selector, error_msg, on_success){
			return {
					url : url, 
			 		dataType : 'json',
			 		success : function(data){
			 			
			 			if(!data.valid) {
			 				//Agrego el error despues del field
			 				$('<label for="id_isbn" generated="true" class="error">' + 
			 						error_msg + '</label>').insertAfter(field_selector);
			 				return false;
			 			} else {
			 				on_success(data)
			 				return true;
			 			}
			 		},
				}
		}
			
			
    </script>

{% endblock %}