{% extends 'documentos/documento_list.html' %}

{% block section_title%}<h2>Búsqueda por materia</h2>{% endblock %}

{% block filter_form %}
<div id="filter_form">

	<form class="ui-formwizard ui-helper-reset ui-widget ui-widget-content ui-corner-all" action="">{% csrf_token %}
		<fieldset class="ui-corner-all">
			<div id="filtro_carreras">
			<p><label class="optional" for="id_carreras">{{ form.carreras.label }}:</label></p>
			<p>{{ form.carreras }}</p>
			</div>
			
			<div id="filtro_materias">
			<p><label class="optional" for="id_materias">{{ form.materias.label }}:</label></p>
			<p>{{ form.materias }}</p>
			</div>
			<p>Seleccione los filtros a aplicar. Puede elegir varios con la tecla Ctrl.</p>
			
		</fieldset>
	</form>

</div>
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">
	$(function(){
		$('#id_materias').change(function(){
			get_pagina(1);
		})
		$('#id_carreras').change(function(){
			get_pagina(1);
		})
	});
	
	function get_pagina(page) {
		
		//necesario para que codifique bien la lista de valores
		jQuery.ajaxSettings.traditional = true;
		
		data = {
				'materias' : $('#id_materias').val() || [],
				'carreras' : $('#id_carreras').val() || [],
				'page' : page,}
		
		$.get('{% url filtrar_materia_update %}', data, update_pagina, "json");
	}
	
</script>

{% endblock %}