{% extends 'base.html' %}

{% block content %}

{% block section_title%}
	{% if request.GET.qs_documento %} 
	<h2>Búsqueda rápida</h2>
	<h3>{{ request.GET.qs_documento }}</h3>
	{% else %}
	<h2>Documentos recientes</h2>
	{% endif %}
{% endblock %}


{% block filter_form %}{% endblock %}

<div id="list_container">
	{% include 'documentos/documento_list_content.html' %}
</div>
	
{% endblock %}

{% block extra_head %}

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.raty.min.js"></script>

<script type="text/javascript">
	
	function on_cover_error(source) {
		$(source).unbind("error").attr("src", "{{ MEDIA_URL }}img/tipos_documentos/libro.png");
	}

	function get_pagina(page) {
		var qs_documento = '{{ request.GET.qs_documento|default:"" }}';
		data = {'qs_documento' : qs_documento, 
				'page' : page,}
		
		$.get('{% url buscar_update %}', data, update_pagina, "json");
	}
	
	function update_raty() {
		$('.puntaje').each(function(index) {
			$(this).raty({
				path : '{{ MEDIA_URL }}img/',
				half :  true,
				hintList : ['','','','',''],
				noRatedMsg : 'documento sin votos',
				readOnly : true,
				start: function() {
				    return $(this).attr('data-rating');
				}
			});
		});
	}

	function update_pagina(data) {
		$('#list_container').html(data.content);
		update_raty();
	}

	$(function() {
		update_raty();
	});

</script>
{% endblock %}