{% load documentostags %}

<table class="document_list aleph">
    {% for documento, puntaje in object_list %}
		<tr {% cycle '' 'class="odd"' %}>
			<td>
				<div>
					<div class="cover">
						<a href="{% url documento documento.pk %}"><img alt="{{ documento.titulo }}" onerror="on_cover_error(this)" src="{{ documento|book_cover }}"/></a>
						{% comment %}
						{% endcomment %}
					</div>
					<div class="details">
						<div class="left">
							<div class="title"><a href="{% url documento documento.pk %}">{{ documento.titulo }}</a></div>
							{% if documento.autor %}{{ documento.autor }}<br/>{% endif %}
							{% lista_materias documento %}
						</div>
						<div class="right">
							<div class="puntaje">{{ puntaje }}</div>
						</div>
					</div> 
					<div class="clear"></div>
				</div>
			</td>
		</tr>
	{% endfor %}
	
	<tr><td id="paginator">
		{{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ paginator.count }} documento{{ paginator.count|pluralize }} {% if page_obj.has_other_pages %}|{% endif %}
		
		{% if page_obj.has_previous %}<a href="javascript:void(0);" onclick="get_pagina(1)">&lt;&lt;</a>{% endif %}
		{% if page_obj.has_previous %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.previous_page_number }})">previa</a>{% endif %}

		{% if page_obj.number|add:"-3" > 0 %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'-3' }})">{{ page_obj.number|add:"-3" }}</a>{% endif %}
		{% if page_obj.number|add:"-2" > 0 %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'-2' }})">{{ page_obj.number|add:"-2" }}</a>{% endif %}
		{% if page_obj.number|add:"-1" > 0 %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'-1' }})">{{ page_obj.number|add:"-1" }}</a>{% endif %}
		{% if page_obj.paginator.num_pages > 1 %}{{ page_obj.number }}{% endif %}
		{% if page_obj.number|add:"1" <= page_obj.paginator.num_pages %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'1' }})">{{ page_obj.number|add:"1" }}</a>{% endif %}
		{% if page_obj.number|add:"2" <= page_obj.paginator.num_pages %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'2' }})">{{ page_obj.number|add:"2" }}</a>{% endif %}
		{% if page_obj.number|add:"3" <= page_obj.paginator.num_pages %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.number|add:'3' }})">{{ page_obj.number|add:"3" }}</a>{% endif %}
		
		
		{% if page_obj.has_next %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.next_page_number }})"> próxima</a>{% endif %}
		{% if page_obj.has_next %}<a href="javascript:void(0);" onclick="get_pagina({{ page_obj.paginator.num_pages }})"> &gt;&gt;</a>{% endif %}
		
	</td></tr>
	
</table>