{% extends 'documentos/documento_list.html' %}

{% load comments documentostags humanize %}

{% block extra_head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.raty.min.js"></script>
	
	<script type="text/javascript">
		function on_cover_error(source) {
			$(source).unbind("error").attr("src", "{{ MEDIA_URL }}img/Blank.jpg");
		}
	</script>
	
	<script type="text/javascript">
		$(function() {
			
			$('#star').raty({
				path : '{{ MEDIA_URL }}img/',
				half :  true,
				hintList: ['','','','',''],
				start : {{ promedio_rating }},
				{% if usuario_ya_voto %}
					readOnly : true,
				{% else %}
					readOnly : false,
				{% endif %}
				click : function(score, event) {
				    $.ajax({
				    	  url: "vote/" + score,
				    	  dataType: 'json',
				    	  success: function(exito) {
				    		  window.location = '';				    		  
				    	  }
				    });
				},
			});
		});
	</script>
{% endblock %}

{% block content %}

<h2>{{ documento.titulo }}</h2>

<div id="datos_documento">
	<fieldset class="display-fieldset">
		<div>
			<div id="cover">
				<img alt="{{ documento.titulo }}" src="{{ documento|book_cover }}" onerror="on_cover_error(this)"/>
			</div>
			
			<div id="details">
				{% if documento.autor %}<p><label>Autor:</label> {{ documento.autor }}</p>{% endif %}

				{% with lista_materias=documento.materia.all %}
					{% if lista_materias %}<p><label>Materia{{lista_materias|pluralize}}:</label> {% for materia in lista_materias %} {{ materia  }}{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}
				{% endwith %}

				{% with lista_carreras=documento.carrera.all %}
					{% if lista_carreras %}<p><label>Carrera{{lista_carreras|pluralize}}:</label> {% for carrera in lista_carreras %} {{ carrera }}{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}
				{% endwith %}

				<p><label>Idioma:</label> {{ documento.get_idioma_display }}</p>

				<p><label>Tipo de documento:</label> {{ documento.get_tipo_display }}</p>
				{% if documento.isbn %}<p><label>ISBN:</label> {{ documento.isbn }}</p>{% endif %}
				
				<div id="star"></div>
				<p>Valoracion: <b>{{ promedio_rating }}/5</b> ({{ cantidad_votos }} voto{{ cantidad_votos|pluralize }}).</p>
			</div>

			<div class="clear"></div>
		</div>
	</fieldset>
</div>


<h3>Archivos</h3>
<table id="archivos_table" class="aleph">
	<thead>
		<tr>
			<th style="width: 50%">Link de descarga</th>
			<th>Tipo</th>
			<th>Tamaño</th>
			<th>Subido por</th>
			<th style="width: 10%"></th>
		</tr>
	</thead>

	<tbody>
		{% for archivo in documento.archivo_set.all %}
			<tr {% cycle 'class="odd"' '' %}>
				<td><a href="{{ archivo.link  }}" target="_blank">{{ archivo.link  }}</a></td>
				<td class="icon-td"><img src="{{ archivo|file_icon }}" title="{{archivo.extension|default:''}}"/></td>
				<td>{% if archivo.tamanio %}{{ archivo.tamanio|filesizeformat }}{% endif %}</td>
				<td>{{ archivo.subido_por }}</td>
				<td class="actions icon-td"><a href="{% url reportar archivo.pk %}"><img src="{{ MEDIA_URL }}img/icons/exclamation.png" title="Reportar archivo"/></a></td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="5" id="paginator" class="icon-td"><a href="{% url add_mirror documento.pk%}"><img src="{{ MEDIA_URL }}img/icons/add.png" title="Agregar mirror"/></a></td>
		</tr>
	</tbody>
</table>


{% get_comment_list for documento as comment_list %}

<div id="comentarios">
	<h3>Comentarios ({{comment_list|length}})</h3>
		
	<div id="send_comentario" class="comentario">
			<div class="header">
				<div class="nombre"><strong>Dejar un comentario:</strong></div>
				<div class="clear"></div>
			</div>
			
			{% get_comment_form for documento as form %}
			{% include 'comments/form_add_comment.html' with next=request.path %}
	</div>
	
	{% for comment in comment_list reversed %}
		<div class="comentario">
			<div class="header">
				<div class="nombre"><strong>{{ comment.user_name }}</strong> escribió:</div>
				<div class="fecha">{{ comment.submit_date|date:"d/m/y" }}</div>
				<div class="clear"></div>
			</div>
			<div class="contenido">{{ comment.comment|safe }}</div>
		</div>
	{% endfor %}
	
</div>



{% endblock %}