{% extends 'documentos/documento_list.html' %}

{% load comments documentostags %}

{% block extra_head %}

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.raty.min.js"></script>

	<script type="text/javascript">
		$(function() {
			
			$('#star').raty({
				path : '{{ MEDIA_URL }}img/',
				half :  true,
				hintList: ['','','','',''],
				start : {{ promedio_rating }},
				{% if usuario_ya_voto %}
					readOnly : true,
				{% else %}
					readOnly : false,
				{% endif %}
				click : function(score, event) {
				    $.ajax({
				    	  url: "vote/" + score,
				    	  dataType: 'json',
				    	  success: function(exito) {
				    		  window.location = '';				    		  
				    	  }
				    });
				},
			});
		});
	</script>
{% endblock %}

{% block content %}

<h3>Documento:</h3>

<div id="datos_documento">
	<fieldset>
		<div>
			<div id="cover">
				<img src="{{ documento|book_cover }}">
			</div>
			
			<div id="details">
				<p><label>Título:</label> {{ documento.titulo }}</p><p/>
				<p><label>Autor:</label> {{ documento.autor }}</p><p/>
				<p><label>Tipo de documento:</label> {{ documento.get_tipo_display }}</p><p/>
				{% if documento.isbn %}<p><label>ISBN:</label> {{ documento.isbn }}</p><p/>{% endif %}
				{% if documento.carrera.all %}<p><label>Carrera:</label> {% for carrera in documento.carrera.all %} {{ carrera }}{% if not forloop.last %}; {% endif %}{% endfor %}</p><p/>{% endif %}
				{% if documento.materia.all %}<p><label>Materia:</label> {% for materia in documento.materia.all %} {{ materia  }}{% if not forloop.last %}; {% endif %}{% endfor %}</p><p/>{% endif %}
				
				<p><label>Link:</label> <a href="{{ documento.link  }}">{{ documento.link  }}</a></p><p/>
				{% if documento.mirror %}<p><label>Mirror:</label> <a href="{{ documento.mirror  }}">{{ documento.mirror  }}</a></p><p/>{% endif %}
				<p><label>Subido por:</label> {{ documento.subido_por }}</p><p/>
				
				<p><label>Detalles:</label> {{ documento.detalles }}</p><p/>
			
			</div>
			<div class="clear"></div>
		</div>
	</fieldset>
</div>

<div id="star"></div>

Valoracion: <b>{{ promedio_rating }}/5</b> ({{ cantidad_votos }} voto{{ cantidad_votos|pluralize }}).

{% if usuario_ya_voto %}Usted ya ha votado.{% endif %}

<h3>Comentarios:</h3>

<br/>

{% get_comment_count for documento as number_of_comments %}

<p>Este documento posee {{ number_of_comments }} comentarios.</p>

<br/><br/>

<div id="comentarios">
	{% get_comment_list for documento as comment_list %}
		
	{% for comment in comment_list %}
		<hr>
		<p><strong>{{ comment.user_name }}</strong> dice:</p><br>
		<p><em>{{ comment.comment|safe }}</em></p><br>
		<p>{{ comment.submit_date|date:"D d M Y g:i a" }}</p><br>
		
		{% if forloop.last %}<hr>{% endif %}
	{% endfor %}
</div>

<br/><br/>

{% get_comment_form for documento as form %}

<h3>Agregue un comentario:</h3>

{% include 'comments/form_add_comment.html' with next=request.path %}

{% endblock %}