{% extends 'documentos/documento_list.html' %}

{% load comments %}

{% block content %}

<h3>Documento:</h3>

<fieldset>
	<p><label>Título:</label></p><p>{{ documento.titulo }}</p><p/>
	<p><label>Autor:</label></p><p>{{ documento.autor }}</p><p/>
	<p><label>Tipo de documento:</label></p><p>{{ documento.get_tipo_display }}</p><p/>
	{% if documento.carrera.all %}<p><label>Carrera:</label></p><p>{% for carrera in documento.carrera.all %} {{ carrera }}{% if not forloop.last %}; {% endif %}{% endfor %}</p><p/>{% endif %}
	{% if documento.materia.all %}<p><label>Materia:</label></p><p>{% for materia in documento.materia.all %} {{ materia  }}{% if not forloop.last %}; {% endif %}{% endfor %}</p><p/>{% endif %}
	
	<p><label>Link:</label></p><p><a href="{{ documento.link  }}">{{ documento.link  }}</a></p><p/>
	{% if documento.mirror %}<p><label>Mirror:</label></p><p><a href="{{ documento.mirror  }}">{{ documento.mirror  }}</a></p><p/>{% endif %}
	<p><label>Subido por:</label></p><p>{{ documento.subido_por }}</p><p/>
	
	<p><label>Detalles:</label></p><p>{{ documento.detalles }}</p><p/>
</fieldset>

<form action="upvote/" method="POST">{% csrf_token %}
	<input type="image" src="{{ MEDIA_URL }}img/up_vote.png">
</form>

Aca iria el score en algun futuro...

<form action="downvote/" method="POST">{% csrf_token %}
	<input type="image" src="{{ MEDIA_URL }}img/down_vote.png">
</form>

<h3>Comentarios:</h3>

<br/>

{% get_comment_count for documento as number_of_comments %}

<p>Este documento posee {{ number_of_comments }} comentarios.</p>

<br/><br/>

{% get_comment_list for documento as comment_list %}
	
{% for comment in comment_list %}
	<hr>
	<p><strong>{{ comment.user_name }}</strong> dice:</p><br>
	<p><em>{{ comment.comment|safe }}</em></p><br>
	<p>{{ comment.submit_date|date:"D d M Y g:i a" }}</p><br>
	
	{% if forloop.last %}<hr>{% endif %}
{% endfor %}


<br/><br/>

{% get_comment_form for documento as form %}

<h3>Agregue un comentario:</h3>

{% include 'comments/form_add_comment.html' with next=request.path %}

{% endblock %}