

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aleph UBA</title>

<!-- CSS -->
<link href="{{ MEDIA_URL }}css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />



{% block extra_head %}{% endblock %}
</head>

<body>
	<div id="wrapper">
    	<!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
    	<h1><a href="{% url home %}">aleph uba</a></h1>
        
        {% block nav %}
        {% if user.is_authenticated %}
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
        	<li><a href="{% url home %}" class="active">Home</a></li> <!-- Use the "active" class for the active menu item  -->
        	<li><a href="{% url documentos %}">Buscar documento</a></li>
        	<li><a href="{% url add_documento %}">Subir documento</a></li>
        	<li><a href="{% url mi_cuenta %}">Mi cuenta</a></li>
        	{% if user.is_staff %}<li><a href="{% url admin:index %}">Administración</a></li>{% endif %}
        	<li class="logout"><a href="{% url logout %}">Logout</a></li>
        </ul>
        
        {% else %}
        <ul id="mainNav">
        	<li><a href="{% url home %}" class="active">Home</a></li>
        	<li class="login"><a href="{% url login %}">Login</a></li>
        	<li><a href="{% url registracion %}">Regístrate</a></li>
        </ul>
        
        {% endif %}
        {% endblock %}
        
        <div id="containerHolder">
			<div id="container">
        		<div id="sidebar">
        		{% block sidebar %}
                	<ul class="sideNav">
                    	<li><a href="#">Exchange</a></li>
                    	<li><a href="#" class="active">Print resources</a></li>
                    	<li><a href="#">Training &amp; Support</a></li>
                    	<li><a href="#">Books</a></li>
                    	<li><a href="#">Safari books online</a></li>
                    	<li><a href="#">Events</a></li>
                    </ul>
                    <!-- // .sideNav -->
                {% endblock %}
                </div>    
                <!-- // #sidebar -->
               
               	<div class="breadcrumb">
               	{% block breadcrumbs%}
                <!-- h2 stays for breadcrumbs -->
                <a href="{% url home %}">Home</a>
                {% endblock %}
                </div>
                
                <div id="main">
                {% block content %}
                	
                {% endblock %}
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <p id="footer">© 2011 chacholano. Template by <a href="http://www.perspectived.com">perspectived</a>.</p>
    </div>
    <!-- // #wrapper -->
</body>
</html>
