<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aleph UBA</title>

<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<!-- CSS -->
<link href="{{ MEDIA_URL }}css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ MEDIA_URL }}css/layout.css" rel="stylesheet" type="text/css" media="screen" />
<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

{% block extra_head %}{% endblock %}

{% if user.is_authenticated %}
<script type="text/javascript">

	function highlightAutocomplete() {
	    var oldFn = $.ui.autocomplete.prototype._renderItem;

	    $.ui.autocomplete.prototype._renderItem = function (ul, item) {
            item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
            return $("<li></li>").data("item.autocomplete", item).append("<a>" + item.label + "</a>").appendTo(ul);
        };
	}

	$(function() {

		highlightAutocomplete();

		$( "#id_qs_documento" ).autocomplete({
			source: "{% url autocomplete_documento %}",
			minLength:2,
			select: function(event, ui){
				$(this).val('"' + ui.item.value + '"');
				$('#qs_form').submit();
			}
		});
	});
</script>
{% endif %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29389412-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

<body>
	<div id="wrapper">
    	<div id="heading">
	    	<div id="logo">
	    		<h1><a href="{% url home %}">Aleph UBA</a></h1>
	    	</div>

	    	{% if user.is_authenticated %}<div id="user_menu">Hola, <b>{{ user.username }}</b>. | <a href="{% url mi_cuenta %}">Mi cuenta</a> | {% if user.is_staff %}<a href="{% url admin:index %}">Admin</a> | {% endif %}<a href="{% url logout %}">Cerrar sesión</a></div>{% endif %}
	    	<div style="clear:both;font-size:1px;line-height:0px;">&nbsp;</div>
    	</div>
        
        {% block nav %}
        {% if user.is_authenticated %}
        <ul id="mainNav">
        	<li><a href="{% url buscar %}">Recientes</a></li>
        	<li><a href="{% url busqueda_por_materia %}">Por materia</a></li>
        	<li><a href="{% url add_documento %}">Subir documento</a></li>
        	<li class="quicksearch"><form id="qs_form" method="get" action="{% url buscar %}"><label for="id_{{ qs_form.qs_documento.name }}">Buscar:</label>{{ qs_form.qs_documento }}</form></li>
        </ul>
        
        {% endif %}
        {% endblock %}
        
        <div id="containerHolder">
			<div id="container">
                
                <div id="main">
	                {% block content %}{% endblock %}
                </div>
                
                <div class="clear"></div>
            </div>
        </div>
        
        <p id="footer">© 2012 be it. {% if user.is_authenticated %}<a href="{% url acerca %}">Acerca de alephuba</a> | <a href="mailto:info@be-it.com.ar">Contacto</a>{% endif %}</p>
    </div>
</body>
</html>
