{% extends 'base.html' %}
{% load naturaltime %} 

{% block content %}
{{ block.super }}

<h2>Novedades</h2>

{% for noticia in object_list %}
	<div class="noticia">
		<div class="titulo">{{ noticia.titulo }}</div>
		<div class="contenido">{{ noticia.contenido|safe }}</div>
		
		<div class="detalle">{{ noticia.fecha|naturaltime|capfirst }} por <b>{{ noticia.autor }}</b></div>
	</div>
{% endfor %}

<div id="home_footer">
{% if page_obj.has_previous %}<a class="previous" href="{% url home %}?page={{ page_obj.previous_page_number }}">Entradas recientes</a>{% endif %}
{% if page_obj.has_next %}<a class="next" href="{% url home %}?page={{ page_obj.next_page_number }}">Entradas antiguas</a>{% endif %}
</div>

{% endblock %}
