{% extends 'base.html' %}

{% block sidebar %}
	{% if user.is_authenticated %}
	<ul class="sideNav">
	   	<li><a class="active" href="#">Portada</a></li>
	   	<li><a href="#">Preguntas frecuentes</a></li>
	   	<li><a href="#">Acerca de</a></li>
	   	<li><a href="#">Contacto</a></li>
	</ul>
	{% endif %}
{% endblock %}


{% block content %}
{{ block.super }}

<h3>Bienvenido</h3>

<div class="text">
<p>Bienvenido a <b>aleph uba</b>, el punto donde convergen, sin superposición, todos los documentos. Del universo (?).</p>
</div>

{% if not user.is_authenticated %}
<h3>Ingresar</h3>
	
	{% with submit_value='Ingresar' %}
		{% include 'form.html' %}
	{% endwith %}
	
	<div class="text">
		<p><a href="{% url registracion %}">No estas registrado?</a></p>
	 </div>
{% endif %}
{% endblock %}
