{% extends 'base.html' %}

{% block content %}

<h2>Mi cuenta</h2>

<fieldset class="display-fieldset">
	<p><label>Usuario:</label></p><p>{{ user.username }}</p>
	<p><label>Email:</label></p><p>{{ user.email }}</p>
	{% if user.profile.carrera %} 
		<p><label>Carrera:</label></p><p>{{ user.profile.carrera }}</p>
	{% else %}
		<p><label>Carrera:</label></p><p>No tiene carrera asignada.</p>
	{% endif %}	
</fieldset>

<p><a href="{% url cambio_contrasenia %}">¿Desea cambiar su contraseña?</a></p>

{% endblock %}