{% extends 'base.html' %}

{% block content %}

<h3>Mi cuenta:</h3>

<fieldset>
	<p><label>Usuario:</label></p><p>{{ user.username }}</p><p/>
	<p><label>Email:</label></p><p>{{ user.email }}</p><p/>
	{% if user.profile.carrera %} 
		<p><label>Carrera:</label></p><p>{{ user.profile.carrera }}</p><p/>
	{% else %}
		<p><label>Carrera:</label></p><p>No tiene carrera asignada.</p><p/>
	{% endif %}	
</fieldset>

<p><a href="{% url cambio_contrasenia %}">¿Desea cambiar su contraseña?</a></p>

{% endblock %}