{% load comments %}

{% if form.errors %}<span class="form_error">Por favor, corrija los errores indicados.</span>{% endif %}

<form action="{% comment_form_target %}" method="post"> {% csrf_token %}
	<fieldset>
		{% for field in form %}
		<div class="field_container">
    		{% if field.is_hidden %}
        		{{ field }}
        	{% else %}
            	{% if field.name == "comment" or field.name == "honeypot" %}
            		{% if field.errors %}
	                	{{ field.errors }}
    	            {% endif %}
                   	
                   	<p
                   	{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                   	
        	        {{ field.label_tag }} {{ field }}</p>
            	{% endif %}
        	{% endif %}
        </div>
     	{% endfor %}
        
        <input type="hidden" name="next" value="{{ next }}">

		<button class="submit-post" name="post" type="submit"><span><span>{{ submit_value|default:'Enviar'}}</span></span></button>
	</fieldset>
</form>