/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
	overflow-y:scroll;
}

#wrapper {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	width: 225px;
	height: 28px;
	
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	color:#5494AF;
}


/* Main Navigation ---------------------------------------- */

#mainNav {
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../img/top-menu-bg.gif) no-repeat left top; 
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#mainNav li a:hover { background: #fdfcf6; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}


#container {
	background: #fff;
	border: 1px solid #ddd;
}

/* Breadcrumb ---------------------------------------- */

.breadcrumb {
	width: 718px;
	float: right;
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
}

.breadcrumb a {
	color: #646464;
	text-decoration: none;
}

.breadcrumb a.active { color: #c66653; }

.breadcrumb a:hover { text-decoration: underline; }

/* Content ---------------------------------------- */

#main {
	padding: 0 19px 20px 30px;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	margin: 10px 0 10px;
}

h2 {
	font-size: 20px;
	color: #5494af;
	margin: 20px 0 10px;
}

#main table.aleph {
	border-top: 1px solid #ddd;
	width: 100%;
}

#main table.aleph tr td {
	background: #f6f6f6;
	padding: 0px 20px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ddd;
}

#main table.aleph tr.odd td {
	background: #fbfbfb;
}

#main table.aleph tr:hover td { background: #fdfcf6; }

#main table.aleph .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table.aleph tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }

#main table.aleph tr:hover .action a:hover { text-decoration: underline; }

#main fieldset {
	border: 0;
	background: #FFFFFF;
	margin: 0 0 0px;
	padding: 20px 20px 5px;
}

#main fieldset p.form-item, fieldset.step p { 
	margin: 0 0 8px 0; 
	float: left; 
	width: 100%;
	font-size: 13px;
	padding-bottom: 0px;
}

#main fieldset label {
	width: 100%;
	margin: 0 4px 0px 0;
	line-height: 12px;
	font-weight: bold;
}

#main fieldset #cover {
	float:left;
}

#main #details {
	float:left;
	width: 60%;
	margin: 5px 0 0 20px;
}

#main .optional {
	font-weight: normal;
}


#main fieldset input[type=password],
#main fieldset input[type=text]  {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	float: left;
	margin: 0 10px 0 0;
}


#main fieldset input[type=text]:focus, 
#main fieldset input[type=password]:focus,
#main fieldset textarea:focus { background: #fdfcf6 url(../img/input-shaddow-hover.gif) no-repeat left top; }

#main fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 364px;
	float: left;
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}



#main .text p{
	line-height: 1.2;
	}
	
#main a { text-decoration: none; color:#646464;}

#main #paginator{ background: #FFFFFF; color:#AAAAAA; text-align: right;}
#paginator{ background: #FFFFFF; color:#AAAAAA; text-align: right;}
thead{ background: #FFFFFF;}

#archivos_table {
	margin-left: 10px;
	}

#main th {
	vertical-align: top;
	padding: 0px 20px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ddd;
	}

/* Footer ---------------------------------------- */

#footer {
	float:right;
	margin: 10px 0 30px 0;
	font-size: 100%;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 5px 0 5px;
}

#footer a { 
	color: #9B9B9B;
	text-decoration: none; 
	}
	
#footer a:hover { text-decoration: underline; }


/* Forms */

#main fieldset .field_container {
	margin-top: 10px;
	 }

.error {
	font-weight: bold;
	color: red;	
}


.form_error {
	font-weight: bold;
	color: red;	
}

#main select {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	float: left;
	margin: 0 10px 0 0;
}

#main select[multiple=multiple]
{
	height : 150px;
	font-size: 13px;
	max-width: 480px;
	}

#logo{
	float:left;
	}

#user_menu{
	margin-right: 15px;
	float:right;
	vertical-align: baseline;
	padding-top: 34px;
	font-size: 14px;
	font: status-bar;
	
	}


/* -------------
* Noticias
* ------------- */

.noticia .titulo {
	font-size: 16px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	margin: 30px 0 5px;
	}
#main .noticia .contenido p{
	font-size: 13px;
	}

.noticia .detalle {
	color : #b1b1b1;
	margin: 5px 0;
	}



#home_footer .next {
	float: right;
	}


/* -------------
* Buttons
* ------------- */

#mainNav li.quicksearch {
	float: right;
	border-right: none;
	display: inline;
}

#mainNav li.quicksearch label {
	font-weight:bold;
	padding: 6px 1px;
	float: left;
	margin: 6px 10px 0 0;
}

#id_qs_documento{
border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 200px;
	float: left;
	margin: 6px 10px 0 0;
}

.document_list .cover{
	float:left;
	margin: 5px 0 5px;
	width: 100px;
}

.document_list .cover img{
	width: 90px;
}

.document_list .details{
	float:left;
	margin: 5px 0 0 10px;
	width : 80%;
}

.document_list .title{
	font-weight: bold;
	font-size: 16px;
}

#main a:hover{
	text-decoration: underline;
}

#documento_form h3 {
	margin: 0px 0 15px;
	}
#documento_form fieldset {
	border: 0;
	background: #FFFFFF;
	margin: 0 0 0px;
	padding: 20px 20px 5px;
	}


.buttons_container {
	padding: 10px 0px 10px;
	float:right;
	}

input[type=reset],
input[type=submit] {
	width: 90px;
	border-radius: 4px 4px 4px 4px;
	}

#comentarios {
	padding-top: 15px;
}

.comentario {
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.4em;
	color: #999999;
}

#send_comentario {
	margin-bottom: 15px;
	color: #646464;
	}

.comentario .header {
	border-bottom: 1px solid #DDDDDD;
	font-size: 12px;
	margin-bottom: 5px;
	}

.comentario .header .nombre {
	float: left;
	}

.comentario .header .fecha {
	float: right;
	}

#main .comentario fieldset {
	padding: 0 20px 0 5px;
	}

#main .comentario .buttons_container 
{
	padding: 0 10px 0 0;
	}

#main .comentario .contenido {
	color: #000000;
	}

#main .comentario textarea {
	width: 100%;
	height: 50px;
	}

#main .display-fieldset {
	border: 1px solid #ddd;
	padding: 19px;
	margin: 0 0 20px 0;
	background: #fbfbfb;
	}
	
#main p {
	padding-bottom: 10px;
	line-height: 1.4em;
	font-size: 14px;
	}

#main a{
	color: #2f3dc9;
	}

tr .actions {
	text-align: right;
	}

#filter_form {
	padding-bottom: 10px;
}


#filtro_carreras {
	width: 30%;
	float:left;
	}

#filtro_materias {
	width :70%;
	float:right;
}

li {
	text-align: left;
	}
